.new-counts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.new-counts .card {
    width: 250px;
}

@media (max-width: 992px) {
    .new-counts .card {
        width: 100%;
    }
}

.new-counts .card .item {
    padding: 10px;
    color: white;
    border-radius: .25rem;
    font-weight: bold;
    cursor: pointer;
}


.new-counts .card .item:hover {
    opacity: .9;
}

.new-counts .card .item a {
    text-decoration: none;
    color: white;
}

.new-counts .card .item:not(:last-child) {
    margin-bottom: 5px;
}